<configuration>
    <appSettings>
        <!-- uncomment and configure these properties for your Azure Foundry Deployment-->
        <!--
        <add key="AZURE_OPENAI_ENDPOINT" value="https://krc-agents-01.openai.azure.com" />
        <add key="AZURE_OPENAI_KEY" value="" />
        <add key="AZURE_OPENAI_DEPLOYMENT" value="krc-work-o3-mini" />
        <add key="AZURE_OPENAI_API_VERSION" value="2024-12-01-preview" />
        -->

        <add key="AZURE_OPENAI_MAX_NUMBER_OF_TOKENS" value="100000" />
        <add key="AZURE_OPENAI_CALL_MAX_RETRIES" value="2"/>
        <add key="AZURE_OPENAI_CALL_WAIT_INTERVAL_SECS" value="1"/>

        <add key="APP_TYPE" value="console"/>
        <add key="RUN_PROCESS_MAX_RETRIES" value="1"/>
        <add key="RUN_PROCESS_TIMEOUT_INTERVAL_SECS" value="60"/>
        <add key="MAX_NUMBER_OF_CODEGEN_RETRIES" value="10"/>
    </appSettings>
</configuration>


