<configuration>
    <appSettings>
        <add key="AZURE_OPENAI_ENDPOINT" value="https://krc-agents-01.openai.azure.com" />
	<!--uncomment this and add your key-->
        <!--<add key="AZURE_OPENAI_KEY" value="" />-->
        <add key="AZURE_OPENAI_DEPLOYMENT" value="krc-work-o3-mini" />
        <add key="AZURE_OPENAI_API_VERSION" value="2024-12-01-preview" />
        <add key="AZURE_OPENAI_CALL_MAX_RETRIES" value="3"/>
        <add key="AZURE_OPENAI_CALL_WAIT_INTERVAL_SECS" value="1"/>
        <add key="BUILD_AND_TEST_TIMEOUT_INTERVAL_SECS" value="60"/>
    </appSettings>
</configuration>
